$estilos: (
    colorPrimario: rgb(109, 152, 109),
    colorSecundario: rgb(32, 2, 55),
    paddingUno: 10px,
    paddingDos: 20px,
    paddingTres: 30px,
    borderRadius: 10px,
    displayFlex: flex,
    flexColumn: column,
    flexRow: row
)