@mixin botones ($borderColor, $textColor, $bgColor) {
    padding: 10px;
    border: none;
    border-bottom: 03px solid $borderColor;
    color: $textColor;
    background-color: $bgColor;
}

@mixin display ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}