* {
    list-style: none;
    text-decoration: none;
}

.ofrecemos {
    text-align: center;
}

.menu-grd div{


        width: 300px;
        height: 240px;
        border: 4px solid rgb(0, 0, 0);
        background-color: lightgray;
        margin: 15px;
        text-align: center;
        line-height: 150px;
        float: left;
        padding: 10px;
              
}
.ofrecemos{
background-color: rgb(26, 3, 33);

}

.titulo-ofrecemos {
    color: aquamarine;
}
.menu-grd {
width: 100%;
height: 100%;
margin: auto auto;
padding-left: 20px;
display: grid;
grid-template-columns: auto auto auto;
}

.cuadro1 {
    background-image: url(../imagenes/consulta.online1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 1s ease;
        border-radius: 20px;
}

.cuadro2 {
    background-image: url(../imagenes/perdidapeso.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 1s ease;
        border-radius: 20px;
}
.cuadro3 {
    background-image: url(../imagenes/nutricion\ infantil.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 1s ease;
        border-radius: 20px;
}
.cuadro4 {
    background-image: url(../imagenes/nutriciondeportiva.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 1s ease;
        border-radius: 20px;
}
.cuadro5 {
    background-image: url(../imagenes/dietavegana.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 1s ease;
        border-radius: 20px;
}
.cuadro6 {
    background-image: url(../imagenes/enfermedadescronicas.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 1s ease;
        border-radius: 20px;
}

.cuadro1:hover {
    background-image: url(../imagenes/consulta.online1.jpg);
    transform: scale(1.1);
    box-shadow: 10px 10px 50px 10px violet;
    border-radius: 30px;
}

.cuadro2:hover {
    background-image: url(../imagenes/perdidapeso.jpg);
    transform: scale(1.1);
    box-shadow: 10px 10px 50px 10px violet;
    border-radius: 30px;
}

.cuadro3:hover {
    background-image: url(../imagenes/nutricion\ infantil.png);
    transform: scale(1.1);
    box-shadow: 10px 10px 50px 10px violet;
    border-radius: 30px;
}

.cuadro4:hover {
    background-image: url(../imagenes/nutriciondeportiva.jfif);
    transform: scale(1.1);
    box-shadow: 10px 10px 50px 10px violet;
    border-radius: 30px;
}
.cuadro5:hover {
    background-image: url(../imagenes/dietavegana.jpg);
    transform: scale(1.1);
    box-shadow: 10px 10px 50px 10px violet;
    border-radius: 30px;
}

.cuadro6:hover {
    background-image: url(../imagenes/enfermedadescronicas.jpg);
    transform: scale(1.1);
    box-shadow: 10px 10px 50px 10px violet;
    border-radius: 30px;
}

/*Letras Carteles*/

.cuadro1 a{
    font-size: 20px;
    padding: 5px;
    color: rgb(26, 3, 33) ;
    border: solid 2px transparent;
    box-shadow: 10px 10px 50px 10px violet;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;

}


.cuadro2 a{
    font-size: 20px;
    padding: 5px;
    color: rgb(26, 3, 33);
    border: solid 2px transparent;
    box-shadow: 10px 10px 50px 10px violet;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
}

.cuadro3 a{
    font-size: 20px;
    padding: 5px;
    color: rgb(26, 3, 33);
    border: solid 2px transparent;
    box-shadow: 10px 10px 50px 10px violet;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
    
}


.cuadro4 a{
    font-size: 20px;
    padding: 5px;
    color: rgb(26, 3, 33);
    border: solid 2px transparent;
    box-shadow: 10px 10px 50px 10px violet;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
}


.cuadro5 a{
    font-size: 20px;
    padding: 5px;
    color: rgb(26, 3, 33);
    border: solid 2px transparent;
    box-shadow: 10px 10px 50px 10px violet;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
}



.cuadro6 a{
    font-size: 20px;
    padding: 5px;
    color: rgb(26, 3, 33);
    border: solid 2px transparent;
    box-shadow: 10px 10px 50px 10px violet;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
}



/*piedepagina*/

.box2 img {
    width: 30px;
}

.piedepagina {
    display: flex;
    justify-content: space-between;
    background-color:rgb(26, 3, 33) ;
    text-align: center;
    color: rgb(127, 255, 212);
}

.box2 {
    display: flex;
}

.box2 div {
margin: 5px;
}

/*responsive grid */

@media(max-width: 760px) {
.menu-grd {
display: flex;
flex-direction: column;
}

.menu-grd a {
    border: none;
    background-color: transparent;





}

}


